.clearfix {
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.container:after {
  .clearfix
}

.container {
  display: inline-block;
  position: relative;
  opacity: 1;
}

.lp_rd_mask {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  border-radius: 5px;
  top: 0;
  left: 0;
  background-color: rgba(250,250,250,.2);
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.lp_rd_mask:after {
  .clearfix
}

.translate2center {
  transform: translate3d(-50%, -50%, 0);
}

.translateAndexpanded {
  transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
}

.lp_drop {
  z-index: 99999;
  transition: opacity .3s linear, transform 1s ease-in;
  display: block;
  position: absolute;
  will-change: transform, opacity, width, height;
  border-radius: 50% 50%;
  background-color: rgba(0,0,0,.3);
}

.expanded, .active {
  transform: scale3d(1,1,1);
  .translateAndexpanded
}

.waiting {
  opacity: 1;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
}

.destroy {
  transition: transform 1s, opacity .5s;
  opacity: 0;
  .translateAndexpanded
}

.hidingmask {
  opacity: 0;
  transition: opacity .5s;
}